{{> head }}

{{> nabvar }}

<div id="aboutcontanier"class="container">
    <div class="row">
        <div class="col-8">
            <h1>Linux</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eaque sit, dignissimos rerum ullam labore
                quae
                recusandae! Voluptates sit sequi alias reiciendis. Natus repudiandae tenetur, accusantium quae
                similique
                dolorem nisi?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/linuk.png" alt="Linux" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer }}